<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">

<title>社員情報</title>

</head>
<body>

	<h1>社員情報</h1>

		<table>
			<tbody>
			<tr>
				<th>ID</th>
				<td th:text="${employee.id.value}">100</td>
			</tr>
			<tr>
				<th>氏名</th>
				<td th:text="${employee.name.fullName()}">太郎太郎</td>
			</tr>
			<tr>
				<th>性別</th>
				<td th:text="${employee.gender.label}">男性</td>
			</tr>
			<tr>
				<th>生年月日</th>
				<td th:text="${#temporals.format(employee.dateOfBirth.value,'y年M月d日')}">1994-07-13</td>
			</tr>
			<tr>
				<th>所属部署</th>
				<td th:text="${employee.department.name.value}">システム開発本部</td>
			</tr>
			</tbody>
		</table>
		<input type="button" th:onclick="|location.href='@{/employee}'|" value="戻る" />
		<p><a sec:authorize="hasRole('ADMIN')" th:href="@{http://localhost:8181/training/employee/modify/{employeeId}(employeeId=${employee.id.value})}">編集画面へ</a></p>
		<p><a th:href="@{http://localhost:8181/training/employee}">一覧へ</a></p>
		<div th:replace="common/menu::menu">
			ログアウト
		</div>
</body>
</html>