<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">

<title>社員一覧</title>

</head>
<body>
	<p th:text="${#dates.format(date)}">
	<h1>社員一覧</h1>
	<form th:action="@{/employee}" method="post" th:object="${criteria}">

			<label for="departmentId">部署名</label>

			<select name="departmentId" id="departmentId" th:field="*{departmentId.value}">
				<option value="">---</option>
				<option th:each="departmentList:${departmentList.values}"
						th:value="${departmentList.id.value}"
						th:text="${departmentList.name.value}"
						th:selected="${departmentList.id.value == criteria.departmentId.value}">
			</select>

		<p>表示順:社員ID</p>
			 <input	type="radio"
					th:each="option:*{employeeIdPriority.options()}"
					th:field="*{employeeIdPriority}"
					th:value="${option.key}"
					th:text="${option.value}">

			<input type=submit name=submit value="検索">

			</form>
		<table>
			<thead>
			<tr>
				<th>ID</th>
				<th>氏名</th>
				<th>所属部署</th>
				<th sec:authorize="hasRole('ADMIN')"></th>

			</thead>
			<tbody>
				<tr th:each="employeeList:${employeeList.values}" th:object="${employeeList}">
					<td th:text="*{id.value}">100</td>
					<td><a th:href="@{/employee/{employeeId}(employeeId=*{id.value})}"
						th:text="*{name.fullName()}">太郎太郎</a></td>
					<td th:text="*{department.name.value}">システム開発</td>
					<td sec:authorize="hasRole('ADMIN')"><a th:href="@{/employee/delete/{employeeId}(employeeId=*{id.value})}">削除</a></td>
				</tr>
			</tbody>
		</table>
		<div th:if="${employeeList.isEmpty()}">
			<p>該当する社員情報はありません</p>
		</div>
			<p><a sec:authorize="hasRole('ADMIN')" th:href="@{/employee/register}">登録画面へ</a></p>
			<p><a th:href="@{/employee}">一覧へ</a></p>
		<div th:replace="common/menu::menu">
			ログアウト
		</div>

</body>
</html>